:host {
  background-color: lightgray;
  display: block;
  min-width: 290px;
}

@media only screen and (min-width: 768px) {
.container{
  min-height:100vh;
}
}
.circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: grey;
    text-align: center;
    color: white;
    line-height: 98%;
}

.userphoto {
  background-image: url(https://image.flaticon.com/icons/svg/145/145847.svg);
  background-repeat: no-repeat;
  background-size: 120px, 120px;
  width: 120px;
  height: 120px;
  margin: auto;
}

#kg {
  margin-left: 20px;
  margin-top: 34px;
}

#cm {
  margin-right: 20px;
  margin-top: 34px;
}

#top {
  padding-top: 30px;
}

.circle p {
  font-size: 70%;
}

#name {
  margin: auto;
  padding: 20px 0;
}


.justify h5 {
  padding: 20px;
}

.justify p {
  padding: 20px;
  margin-bottom: -3px;
}

.small {
  margin-top: -3rem;
  color: grey;
}

.mat-progress-bar {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.container-fluid {
  margin-top: 1rem;
}

.col-md-3 {
  text-align: center;
}

.textcenter {
  text-align: center;
}
